<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>

  </head>
  <body>
    <table style="background-color:white;
                  padding:0 20px!important"
           role="presentation"
           width="100%"
           cellspacing="0"
           cellpadding="0"
           border="0">
      <tbody>
        
        <tr>
          <td></td>
          <td width="600" valign="top" align="center">
            <table style="width:100%;
                          max-width:600px;
                          background-color:#ff7900"
                   role="presentation"
                   width="600"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   bgcolor="#ff7900">
              <tbody>
                <tr>
                  <td>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation"
                                   style="border-collapse:collapse;
                                          background-color:#fff;
                                          width:100%"
                                   width="100%"
                                   cellspacing="0"
                                   cellpadding="0"
                                   border="0"
                                   bgcolor="white"
                                   align="center">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse;
                                             direction:ltr;
                                             font-size:0;
                                             text-align:center"
                                      align="center">
                                    <div style="font-size:0;
                                                text-align:left;
                                                direction:ltr;
                                                display:inline-block;
                                                vertical-align:top;
                                                width:100%">
                                      <table role="presentation"
                                             style="border-collapse:collapse;
                                                    background-color:#fff;
                                                    vertical-align:top"
                                             valign="top"
                                             width="100%"
                                             cellspacing="0"
                                             cellpadding="0"
                                             border="0"
                                             bgcolor="white">
                                        <tbody>
                                          <tr>
                                            <td style="border-collapse:collapse;
                                                       font-size:0;
                                                       padding:26px 20px;
                                                       word-break:break-word"
                                                align="center">
                                              <img src="https://res.cloudinary.com/dxlsllwix/image/upload/v1680144473/gecowmo/unnamed_cznh5y.png"
                                                   alt="Logo"
                                                   style="display:block;
                                                          width:auto;
                                                          max-width:200px;
                                                          height:auto;
                                                          max-height:100px;
                                                          outline:none;
                                                          text-decoration:none"
                                                   width="200"
                                                   height="50"
                                                   data-image-whitelisted=""
                                                   class="CToWUd"
                                                   data-bit="iit"/>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation"
                                   style="border-collapse:collapse;
                                          background-color:#ff7900;
                                          width:100%"
                                   width="100%"
                                   cellspacing="0"
                                   cellpadding="0"
                                   border="0"
                                   bgcolor="#ff7900"
                                   align="center">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse;
                                             direction:ltr;
                                             font-size:0;
                                             padding:10px;
                                             text-align:center"
                                      align="center">
                                    <table role="presentation"
                                           style="border-collapse:collapse;
                                                  vertical-align:middle;
                                                  display:inline-table;
                                                  width:50%"
                                           valign="middle"
                                           width="50%"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0">
                                      <tbody>
                                        <tr>
                                          <td style="border-collapse:collapse;
                                                     font-size:0;
                                                     padding:10px;
                                                     word-break:break-word"
                                              align="center">
                                            <table role="presentation"
                                                   style="border-collapse:collapse;
                                                          border-spacing:0"
                                                   cellspacing="0"
                                                   cellpadding="0"
                                                   border="0">
                                              <tbody>
                                                <tr>
                                                  <td style="border-collapse:collapse;
                                                             width:275px"
                                                      width="275"
                                                      align="center">
                                                    <img src="https://res.cloudinary.com/dxlsllwix/image/upload/v1680144474/gecowmo/feedback2_ky4fzm.png"
                                                         alt="feedback2.png"
                                                         style="margin-right:0px"
                                                         width="267"
                                                         height="239"
                                                         data-image-whitelisted=""
                                                         class="CToWUd a6T"
                                                         data-bit="iit"
                                                         tabindex="0"/>
                                                    <div class="a6S"
                                                         dir="ltr"
                                                         style="opacity: 0.01;
                                                                left: 414.531px;
                                                                top: 502.109px">
                                                      <div id=":7x"
                                                           class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                           role="button"
                                                           tabindex="0"
                                                           aria-label="Download attachment feedback2.png"
                                                           jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc2MTY5MDQzNzI3OTQ4OTQ3NyIsbnVsbCxbXV0."
                                                           data-tooltip-class="a1V"
                                                           data-tooltip="Download">
                                                        <div class="akn">
                                                          <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                      </div>
                                                      <div id=":7y"
                                                           class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                           role="button"
                                                           tabindex="0"
                                                           aria-label="Add attachment to Drive feedback2.png"
                                                           jslog="54185; u014N:cOuCgd,xr6bB; 1:WyIjdGhyZWFkLWY6MTc2MTY5MDQzNzI3OTQ4OTQ3NyIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2MTY5MDQzNzI3OTQ4OTQ3NyIsbnVsbCxbXV0.; 43:WyJpbWFnZS9wbmciLDkwNjg3NV0."
                                                           data-tooltip-class="a1V"
                                                           data-tooltip="Add to Drive">
                                                        <div class="akn">
                                                          <div class="wtScjd J-J5-Ji aYr XG">
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div id=":80"
                                                           class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                           role="button"
                                                           tabindex="0"
                                                           aria-label="Save a copy to Photos"
                                                           jslog="54186; u014N:cOuCgd,xr6bB; 1:WyIjdGhyZWFkLWY6MTc2MTY5MDQzNzI3OTQ4OTQ3NyIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2MTY5MDQzNzI3OTQ4OTQ3NyIsbnVsbCxbXV0.; 43:WyJpbWFnZS9wbmciLDkwNjg3NV0."
                                                           data-tooltip-class="a1V"
                                                           data-tooltip="Save a copy to Photos">
                                                        <div class="akn">
                                                          <div class="J-J5-Ji aYr akS">
                                                            
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <br/>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table role="presentation"
                                           style="border-collapse:collapse;
                                                  vertical-align:middle;
                                                  display:inline-table;
                                                  width:50%"
                                           valign="middle"
                                           width="50%"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0">
                                      <tbody>
                                        <tr>
                                          <td style="border-collapse:collapse;
                                                     font-size:0;
                                                     padding:10px;
                                                     word-break:break-word"
                                              align="center">
                                            <div style="font-family:arial,sans-serif;
                                                        font-weight:400;
                                                        font-size:16px;
                                                        line-height:normal;
                                                        letter-spacing:0;
                                                        text-align:center;
                                                        color:#000000">
                                              
                                              <div>
                                                <span style="color:rgb(255,255,255)"><b><span style="font-size:32px">Gecowmo G2</span></b></span>
                                              </div>
                                              <div>
                                                <span style="color:rgb(255,255,255)"></span>
                                              </div>
                                              <div>
                                                <span style="color:rgb(255,255,255)">
                                                  <br/>
                                                </span>
                                              </div>
                                              <div>
                                                <span style="color:rgb(255,255,255)"><b>is now live!</b></span>
                                              </div>
                                              <span style="font-size:32px"></span>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation"
                                   style="border-collapse:collapse;
                                          background-color:#f8f9fa;
                                          width:100%"
                                   width="100%"
                                   cellspacing="0"
                                   cellpadding="0"
                                   border="0"
                                   bgcolor="#f8f9fa"
                                   align="center">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse;
                                             direction:ltr;
                                             font-size:0;
                                             padding-top:40px;
                                             padding-bottom:25px;
                                             text-align:center"
                                      align="center">
                                    <table role="presentation"
                                           style="border-collapse:collapse;
                                                  vertical-align:top;
                                                  display:inline-table"
                                           valign="top"
                                           width="90%"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0"
                                           align="center">
                                      <tbody>
                                        <tr>
                                          <td style="border-collapse:collapse;
                                                     padding:0px 20px 10px;
                                                     word-break:break-word"
                                              align="center">
                                            <div style="letter-spacing:0px;line-height:1.4;text-align:center">
                                              <div style="letter-spacing:0px;line-height:1.4;text-align:center">
                                                <div style="letter-spacing:0px;line-height:1.4;text-align:left">
                                                  <div style="letter-spacing:0px;line-height:1.4;text-align:center">
                                                    <div style="font-family:arial,sans-serif;
                                                                color:rgb(95,99,104);
                                                                text-align:left">
                                                      <span style="color:rgb(0,0,0)"><b><font size="4">Welcome BAUDON Francois,</font></b></span>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;
                                                                color:rgb(95,99,104);
                                                                text-align:left">
                                                      <span style="color:rgb(0,0,0)"><b><font size="4">
                                                        <br/>
                                                      </font></b></span>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;text-align:left">
                                                      <font color="#000000" size="2">Check it out with the credentials below:</font>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;text-align:left">
                                                      <font color="#000000" size="2">
                                                        <br/>
                                                      </font>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;text-align:left">
                                                      <span style="letter-spacing:0px;font-family:Arial,Helvetica,sans-serif">Françoi</span>
                                                    </div>
                                                    <div style="text-align:left">
                                                      <font color="#000000" face="arial, sans-serif" size="2">Username: FEAB7464</font>
                                                    </div>
                                                    <div style="text-align:left">
                                                      <font size="2"><font face="arial, sans-serif"><font color="#000000">Password:&nbsp;</font><span style="background-color:rgb(255,255,255);
             color:rgb(32,33,36);
             white-space:pre-wrap;
             letter-spacing:0px">fpk4zyn!VKR_mjk2rvg</span></font><span style="font-family:arial,sans-serif;
             letter-spacing:0px;
             text-align:center">f
                                                        <wbr/>
                                                      pk4zyn!VKR_mjk2rvg</span></font>
                                                    </div>
                                                    <div style="text-align:left">
                                                      <font size="2"><span style="font-family:arial,sans-serif;
             letter-spacing:0px;
             text-align:center">
                                                        <br>
                                                      </span></font>
                                                    </div>
                                                    <div style="text-align:left">
                                                      <font size="2"><span style="font-family:arial,sans-serif;
             letter-spacing:0px;
             text-align:center">Please change your password after connecting.</span></font>
                                                    </div>
                                                    
                                                   
                                                    <div style="text-align:left">
                                                      <br>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;
                                                                color:rgb(95,99,104);
                                                                font-weight:400;
                                                                text-align:left">
                                                      <span style="color:rgb(0,0,0)"><font size="2">
                                                        <br>
                                                      Let's do great,</font></span>
                                                    </div>
                                                    <div style="font-family:arial,sans-serif;
                                                                color:rgb(95,99,104);
                                                                font-weight:400;
                                                                text-align:left">
                                                      <span style="color:rgb(0,0,0)"><font size="2">Team Gecowmo</font></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div style="font-size:0;
                                                text-align:left;
                                                direction:ltr;
                                                display:inline-block;
                                                vertical-align:top;
                                                width:100%"
                                         role="presentation">
                                      <table role="presentation"
                                             style="border-collapse:collapse;
                                                    vertical-align:top"
                                             valign="top"
                                             width="100%"
                                             cellspacing="0"
                                             cellpadding="0"
                                             border="0">
                                        <tbody>
                                          <tr>
                                            <td style="border-collapse:collapse;
                                                       font-size:0;
                                                       padding:10px 25px;
                                                       padding-top:25px;
                                                       word-break:break-word"
                                                align="center">
                                              <table role="button"
                                                     style="border-collapse:separate;
                                                            background-color:#ff7900;
                                                            border-radius:4px;
                                                            line-height:100%;
                                                            padding:8px 24px"
                                                     cellspacing="0"
                                                     cellpadding="0"
                                                     border="0">
                                                <tbody>
                                                  <tr>
                                                    <td role="presentation"
                                                        style="border-collapse:collapse;
                                                               background-color:#ff7900;
                                                               border:none"
                                                        valign="middle"
                                                        bgcolor="#ff7900"
                                                        align="center">
                                                      <a href="https://gecowmo.officience.com/"
                                                         style="display:inline-block;
                                                                background-color:#ff7900;
                                                                color:#000000;
                                                                font-family:arial,sans-serif;
                                                                font-size:14px;
                                                                font-weight:bold;
                                                                line-height:20px;
                                                                letter-spacing:0;
                                                                margin:0;
                                                                text-decoration:none;
                                                                text-transform:none"
                                                         target="_blank"
                                                         data-saferedirecturl="https://www.google.com/url?q=https://gecowmo.officience.com/&amp;source=gmail&amp;ust=1680231761885000&amp;usg=AOvVaw0oZMcFv6NP_R1YIoQXJE2W"><span style="display:block;min-width:10px"><span style="color:rgb(255,255,255)">Try now</span></span></a>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation"
                                   style="border-collapse:collapse;
                                          background-color:#f8f9fa;
                                          width:100%"
                                   width="100%"
                                   cellspacing="0"
                                   cellpadding="0"
                                   border="0"
                                   bgcolor="#f8f9fa"
                                   align="center">
                              <tbody>
                                <tr>
                                  <td style="direction:ltr;font-size:0;padding:0 5px;text-align:center"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation"
                                   style="border-collapse:collapse;
                                          background-color:#f8f9fa;
                                          width:100%"
                                   width="100%"
                                   cellspacing="0"
                                   cellpadding="0"
                                   border="0"
                                   bgcolor="#f8f9fa"
                                   align="center">
                              <tbody>
                                <tr>
                                  <td style="direction:ltr;font-size:0;padding:0 5px;text-align:center"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table role="presentation"
                           width="100%"
                           cellspacing="0"
                           cellpadding="0"
                           border="0">
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
        <tr height="0">
          <td>
            <span style="padding-top:0;
                         font-size:0;
                         line-height:0;
                         color:#ff7900;
                         background-color:#ff7900;
                         display:none;
                         overflow:hidden;
                         max-height:0">t26stcr2bsfi</span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
